.form-content {
  align-items: center;
  background-color: rgb(100, 100, 100);
  box-shadow: 0 3px 10px rgb(200, 200, 200);
  color: white;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  margin: 10px 0;
  padding: 15px;
  text-align: center;
  width: 100vw;
}

.form-input {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 7px;
  height: 30px;
  margin-left: 5px;
  outline: none;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.value {
  width: 72px;
}

.description {
  width: 200px;
}

.add-expense-btn {
  background-color: rgb(0, 150, 0);
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  height: 30px;
  outline: none;
  padding: 0 15px;
  transition: 0.2s;
}

.add-expense-btn:hover {
  background-color: rgb(0, 130, 0);
  transition: 0.2s;
}
